  
 <div class="container">
    <div class="row">
      <div class="col-sm">
        <p class="text-justify text-nowrap">   <a href="#" (click)="ABOUTME($event)">ABOUT ME</a> </p>
      </div>
      <div class="col-sm">
        <p class="text-justify text-nowrap">   <a href="#" (click)="Skill($event)">SKILLS</a></p>
      </div>
      <div class="col-sm">
        <p class="text-justify text-nowrap">   <a href="#" (click)="project($event)">PROJECTS</a></p>
  
      </div>
      <div class="col-sm">
        <p class="text-justify text-nowrap">  <a href="#" (click)="certificate($event)">CERTIFICATE & COURSE</a></p>
      </div>
      <div class="col-sm">
        <p class="text-justify text-nowrap">   <a href="#" (click)="contact($event)">CONTACT US</a></p>
      </div>
    </div>
  </div>