<div class="container">  
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">  
      <a class="navbar-brand" href="#">Rashid Ahmad</a>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">  
        <span class="navbar-toggler-icon"></span>  
      </button>  
      <div class="collapse navbar-collapse" id="collapsibleNavbar">  
        <ul class="navbar-nav">  
          <div class="col-sm">
            <p class="text-justify text-nowrap">   <a data-toggle="collapse" data-target=".navbar-collapse.show"  href="#" (click)="ABOUTME($event)">ABOUT ME</a> </p>
          </div>
          <div class="col-sm">
            <p class="text-justify text-nowrap">   <a href="#" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="Skill($event)">SKILLS</a></p>
          </div>
          <div class="col-sm">
            <p class="text-justify text-nowrap">   <a href="#" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="project($event)">PROJECTS</a></p>
      
          </div>
          <div class="col-sm">
            <p class="text-justify text-nowrap">  <a href="#" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="certificate($event)">CERTIFICATE & COURSE</a></p>
          </div>
          <div class="col-sm">
            <p class="text-justify text-nowrap">   <a href="#" (click)="contact($event)">CONTACT US</a></p>
          </div>
        </ul>  
      </div>    
    </nav>  
