.g2{display:block; position: relative; margin-left: 1%; margin-right: 1%}
.photo{
    float: left;
    height: 20vw;
    width: 20vw;
    margin-right: 4vw;
    margin-top: 2vw;
    overflow: hidden;
  }
  .photo img{
   border-radius: 1vw;
   width: 100%;
  }
 
  .main-links ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  .main-links ul li{
    border-bottom: 1px solid #F1F1F1;
    padding: 10px 0;
  }
  .main-links ul li a{
  
    font-size: 14px;
  
  } 


  .info h1, #header h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .3em;
    color: #fff;
  }
  .info h2, #header h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .2em;
    margin-top: 0.5em;
    font-size: 3em;
    
  }
  .info h4, #header h4{
    color: #59BD85;
    margin-bottom: 2em;
  }
  .info h6, #header h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .3em;
    color: #fff;
  }
  .info h7, #header h7{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .2em;
    margin-top: 0.5em;
    color: #fff;
    
  }
  .sidebar{
    padding-left: 20px;
    border-left: 1px solid #f1f1f1;
  } 
  .g1,.g2,.g3 {float: left}
  @media only screen and (min-width: 1024px) { 
    
    
    /* 3 COLUMN GRID */
    .g1 {width:31.333%;}
    .g2 {width:64.667%;}
    .g3 {width:98.0%}

  }
  
.item-box{
  padding: 6px 6px 6px 10px;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.item-box i{
  float: left;
  margin-right: 25px;
}

.item-box .item-data{
 margin-top: 6px;
}
.item-box .item-data h3{
  line-height: 1em;
  margin: 3px 0px 0px 0px;
  font-size: 1em;

}
.item-box .item-data p{
  margin: 0px;
  font-size: 25px;
  color: #2E8B57;
  text-decoration-style: bold;
}

.break{
  padding-bottom: 1em;
  clear: both;
}
.description{
  font-size: 10px;
}