<div id="about" class="active" style="display: block;">
    <section class="clearfix">
      <div class="g2">
        <div class="photo">
          <img   src="assets/img/rashid.jpg" alt="Rashid Ahmad"/>
        </div>
        <div class="info">
          <h2>
            <p></p>
                    Rashid Ahmad
          </h2>
          <h4>
                    Assistant Application Developer
          </h4>
        <div [ngStyle]="description()">            <ul>
           <li>
              Overall 2 years of work experience in software development.
            </li>
            <li>
              Knowledge on developing applications using <strong>Java (J2EE)</strong> And <strong>Salesforce</strong> . Maintain Users Roles, Security, etc.</li>
              <li>
                Adapt in end-to-end development of software products from requirement analysis to system study, Designing, Coding, Testing, Debugging, Documentation and implementation
              </li>
            <li>	Good knowledge of Core Java, Servlet, JSP, SFDC, Salesforce Lightning, JavaScript, MySQL, AJAX, HTML, CSS and Bootstrap.</li>
      

          </ul>
        </div>


                                    
      
        </div>
      </div>
 
      <div class="g1">
        <div class="main-links sidebar">
          <ul>
            <li>
              <a href="#" (click)="Skill($event)">
                        View My Skills
              </a>
            </li>
            <li>
              <a href="#" (click)="project($event)">
                        View My Projects
              </a>
            </li>
            <li>
              <a href="#"  (click)="contact($event)">
                         Hire me for your next project
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="break">
      </div>
      <div class="contact-info">
        <div class="g1">
          <div class="item-box clearfix">
            <i class="icon-envelope"></i>
              <div class="item-data">
                <h3>
                  <a href="mailto:rashidahmad2135@gmail.com">
                            rashidahmad2135@gmail.com
                  </a>
                </h3>
                <p> 
                     rashidahmad03@gmail.com
                </p>
              </div>
          </div>
        </div>
        <div class="g1">
          <div class="item-box clearfix">
            
              <div class="item-data">
                <h3>
                  <a  href="https://in.linkedin.com/in/rashidahmad03">
                    rashidahmad03
                  </a>
                </h3>
                <p>
                  Linkedin Profile
                </p>
              </div>
          </div>
        </div>
      <div class="g1">
        <div class="item-box clearfix">
     
            <div class="item-data">
              <h3>
                <a href="https://github.com/rashidahmad03">
                  rashidahmad03
                </a>
              </h3>
              <p>
                     GitHub
              </p>
            </div>
        </div>
        
      </div>
      </div>
    </section>
  </div>
