<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Address</h2>
    <!--Section description-->
    
    <div class="row">

        <div class="col-md-4 text-center">
            </div>
        <!--Grid column-->
        <div class="col-md-4 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Shaheen bagh, New Delhi, India
                            </p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p><a href='tel:+918377958134'>+91 8377958134 </a></p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>rashidahmad2135@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->