<!--iframe width="853" height="480" src="https://www.youtube.com/embed/8wN_pF9h3uA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></!--iframe>
<iframe width="853" height="480" src="https://www.youtube.com/embed/E0XsM_RByIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">
  
      <!-- Card -->
      <div class="card gradient-card">
  
          <div class="card-image skyline">
  
            <!-- Content -->
            <a href="https://youtu.be/E0XsM_RByIY">
              <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                <div class="first-content align-self-center p-3">
                  <h3 class="card-title">SKYLINE ERP</h3>
                  <p class="lead mb-0">Click on to see Demo </p>
                </div>
                
              </div>
            </a>
  
          </div>
  
          <!-- Data -->
          <div class="third-content ml-auto mr-4 mb-2">
            <p class="text-uppercase text-muted">Java (J2E)</p>
           
          </div>
  
          <!-- Content -->
          <div class="card-body white">
            <div class="progress md-progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
           
            <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
            <p class="text-muted" align="justify">The   main  objective  of  Skyline  ERP  is  to  make  easy  for  faculty’s as well  as students  to  coordinate  with  each  other .It  acts  as  a  mediator  between  the  faculty and  students. Faculty  can  update  any  information and  can  chat  with  the  registered student. 
                It  also  view  the  students  updates.
                Since this software is being designed to serve as one point solution to online examinations and online record maintenance, this software will also help institutes to maintain the records of students  related activities like filtering of student data etc                
            </p>
          </div>
  
      </div>
      <!-- Card -->
  
    </div>
    <!--Grid column-->
   <!--Grid column-->
   <div class="col-md-6 mb-4">
  
    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image onlinechat">

          <!-- Content -->
          <a href="https://youtu.be/8wN_pF9h3uA">
            <div class="d-flex h-100 mask blue-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Multiple Chating</h3>
                <p class="lead mb-0">Click on to see Demo </p>
              </div>
              
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content ml-auto mr-4 mb-2">
          <p class="text-uppercase text-muted">Java (Swing)</p>
         
        </div>

        <!-- Content -->
        <div class="card-body white">
          <div class="progress md-progress">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
         
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">In this Application you can chat with multiple client by using socket programming in java with the help Java Swing GUI
              you need one server to handle client.
                          
          </p>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->
   
  
  </div>
  <!--Grid row-->